body {
	margin: 0px;
	margin-top: 5%;
	background-color: white;
	font-family: Helvetica,Arial,sans-serif;
	background-blend-mode: hue;
}

a{
	padding: 0px;
	text-decoration: none;
	color: black;
}

.navlinks {
	padding: 1%;
	padding-left: 5%;
	background-color: black;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}

.navlinks a, a:link, a:visited {

	padding: -1%;
	margin-right: 1%;
	color: white;
	float: left;
	display: inline;
	text-align: center;
	padding: 7px 15px;
	border: solid white 2px;
	border-radius: 500px;
	transition-duration: 0.5s;
}

.navlinks a:hover{
	color: black;
	background-color: white;
}

  #bildekarusell {
  	width: 600px;
  	height: 150px;
  	position: relative;
  	margin: 150px auto;
  	overflow: hidden;
  }

  .bilde {
  width: 600px;
  height: 150px;
  position: absolute;
  left: 0px;
  }

  @keyframes innFraHoyre {
  	from { left: 600px; }
  	to { left: 0px; }
   }

  @keyframes utTilVenstre {
  	 from { left: 0px; }
  	 to { left: -600px; }
  }
