body {
	margin: 0px;
	padding: 0px;
	background-color: white;
	font-family: Helvetica,Arial,sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

a{
	text-decoration: none;
	color: white;
}

ul{
  margin: 0px;
}

.navlinks {
  margin-left: -10px;
	overflow: hidden;
	z-index: 9;
	background-color: black;
	position: fixed;
	top: 0%;
  width: 101%;
	height: 70px;
  box-shadow: 10px 0px 30px #000000;
}


.navlinks ul li {
	margin-left: 0%;
	float: right;
	padding-bottom: 30px;
	display: run-in;
}

.navlinks ul li a{
	margin-left: 0%;
	float: right;
	padding: 25px 25px;
	padding-bottom: 30px;
}

.navlinks ul li a:hover{
	background-color: rgb(52, 52, 52);
}

.flagg{
	margin-top: -10px;
	width: 40px;
	height: auto;
}

#bildekarusell {
    background-color: black;
    margin: 68px 0px;
  	width: 100%;
  	height: 100vh;
  	position: relative;
  	overflow: hidden;
}

.bilde {
	opacity: 0.5;
	background-size: cover;
	width: 100%;
	height:100vh;
	position: absolute;
	left: 0px;
}

@keyframes innFraHoyre {
	from { left: 100%; }
	to { left: 0%; }
}

@keyframes utTilVenstre {
	from { left: 0%; }
  	to { left: -100%; }
}

#sitatkarusell {
    background-size: cover;
    width: 100%;
    height: 250px;
    position: relative;
    margin: 150px auto;
    overflow: hidden;
    top: -200px;
}

.sitatBilde {
	background-size: cover;
	width: 100%;
	height: 250px;
	position: absolute;
	left: 0px;
}

@keyframes sitatInnFraHoyre {
    from { left: 100%; }
    to { left: 0%; }
}

@keyframes sitatUtTilVenstre {
    from { left: 0%; }
    to { left: -100%; }
}



#logobilde{
    width: 50px;
    height: 50px;
}

.logo h3{
    position: fixed;
    left: 70px;
    top: 0.5%;
}

.logo{
    z-index: 99;
    position: fixed;
    top: 1%;
    left: 1%;
    text-align: center;
}

.forside{
    color: white;
    z-index: 2;
    position: absolute;
    text-align: center;
    top: 200px;
    left: 25%;
    right: 25%;
}

.omoss{
    padding-left: 5%;
    margin-top: -20%;
    background-color: white;
}

.omossTekst{
    width: 50%;
    display: inline-block;
    font-size: 20px;
}

.bakgrunn{
    margin-top: -70px;
    font-size: 20px;
    padding: 10%;
    background-color: rgb(245, 245, 245);
}

.footer{
	background-color: black;
	padding: 15px;
	padding-left: 10px;
    max-width: 100%;
    color: white;
}

<<<<<<< HEAD
.Kilder li {
	list-style-type: none;
	
}

.Kilder ul {
	margin-left: 50%;
=======
.footer p {
  margin-right: 0px;
  padding-right: 0px;
}

.app{
  height: 100vh;
  background-color: rgb(245, 245, 245);
>>>>>>> 02eb54fab84b9bb37f489746aafc3ba1fad5377c
}

  /*

  @media only screen and (max-width: 700px) {

    .navlinks ul li{
    	margin-left: 0%;
      float: none;
    	padding: 10px 10px;
      text-align: center;
      background-color: black;
      list-style: none;
    }

    .navlinks ul{
      margin-top: 0px;
      padding: 0px;
    }

    .navlinks{

      overflow: visible;
      position: inherit;
      top: 300px;
      z-index: 97;
    }

    .forside{
      top: 290px;
    }
